@import url('/style.css');

.misEventos {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  align-content: start;
  justify-items: center;
  flex-direction: column;
  background-color: var(--vle-color1);
  border-bottom: 10px solid var(--vle-color6);
  gap: 40px;
  flex-wrap: wrap;
  align-items: start;
  padding: var(--vle-padding-l);
  overflow-x: auto;
}
.misEventos > h3 {
  color: var(--vle-color5);
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.8;
}
.misEventos > p {
  font-size: 15px;
  letter-spacing: 2px;
  opacity: 0.8;
  color: var(--vle-color4);
}
.divEventosFav {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  gap: 50px;
  background-color: color;
  flex-wrap: wrap;
}
.divEventFav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 200px;
  height: 200px;
  background-color: var(--vle-color4);
  padding-bottom: 10px;
  transition: filter 0.3s ease, transform 0.3s ease;
}
.divImgEvent {
  width: 100%;
  height: 120px;
  background-color: red;
}
.divImgEvent > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.divHover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--vle-color4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
.divHover > img {
  width: 40%;
  height: 40%;
}
.divEventFav:hover .divHover {
  opacity: 1;
}
.divEventFav > h4 {
  font-size: 13px;
  letter-spacing: 2px;
  opacity: 0.8;
  color: var(--vle-color6);
  text-align: center;
  line-height: 1.5;
  transition: opacity 0.3s ease;
}
.divEventFav > p {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
  letter-spacing: 1px;
}
.divEventFav:hover > h4,
.divEventFav:hover > p {
  opacity: 0;
}
.divEventFav:hover {
  cursor: pointer;
  filter: grayscale(80%);
  transform: scale(0.9);
}

/*MediaQueries*/

@media (max-width: 1017px) {
  .misEventos > h3 {
    font-size: 15px;
  }
  .divEventFav {
    width: 150px;
    height: 150px;
  }
  .divImgEvent {
    width: 100%;
    height: 80px;
  }
  .divEventFav > h4 {
    font-size: 11px;
    line-height: 1;
  }
  .divEventFav > p {
    font-size: 11px;
  }
}
@media (max-width: 750px) {
  .misEventos > h3 {
    font-size: 13px;
  }

  .divEventFav {
    width: 150px;
    height: 150px;
  }
  .divImgEvent {
    width: 100%;
    height: 80px;
  }
  .divEventFav > h4 {
    font-size: 11px;
    line-height: 1;
  }
  .divEventFav > p {
    font-size: 11px;
  }
}
@media (max-width: 549px) {
  .misEventos > h3 {
    font-size: 12px;
  }
}
