@import url('/style.css');
.perfil {
  position: relative;
  width: 100%;
  height: auto;
  padding: var(--vle-padding-xl);
  flex-direction: column;
  background-color: var(--vle-color4);
  gap: 60px;
}
.perfil > p {
  color: var(--vle-color6);
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.8;
  font-weight: 600;
}
.articlePerfil {
  width: 800px;
  height: 500px;
  background-color: var(--vle-color1);
}
.divDatos {
  height: 500px;
  width: 400px;
  flex-direction: column;
  background-color: var(--vle-color2);
  padding: var(--vle-padding-m);
  gap: 30px;
}
.divDatos > div {
  width: 130px;
  height: 130px;
  border: 1.5px solid var(--vle-color3);
}
.divDatos > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.divDatos > p {
  font-size: 15px;
  color: var(--vle-color3);
  justify-self: start;
  letter-spacing: 1.5px;
}
.divDatos > p:first-of-type {
  font-size: 18px;
  color: var(--vle-color3);
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  max-width: 300px;
  margin-bottom: 20px;
}
.UpdateAttendees {
  background-color: var(--vle-color3);
  justify-content: space-evenly;
  height: 500px;
  width: 400px;
  padding: var(--vle-padding-l);
  gap: 10px;
}
.UpdateAttendees > .artInfo {
  width: 400px;
  height: 140px;
  gap: 15px;
}
.UpdateAttendees > .artInfo > h3 {
  font-size: 18px;
  color: var(--vle-color2);
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
}
.UpdateAttendees > .artInfo > p {
  text-align: center;
  min-height: 50px;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 15px;
  color: var(--vle-color2);
}
.UpdateAttendees > .artForm {
  width: 100%;
  height: 300px;
  gap: 30px;
}
.UpdateAttendees > .artForm > .form {
  display: flex;
  height: 250px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.UpdateAttendees > .artForm > .form > .divForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}
.UpdateAttendees > .artForm > .form > .divForm > label {
  font-size: 15px;
  color: var(--vle-color2);
  justify-self: start;
}
.UpdateAttendees > .artForm > .form > .divForm > input {
  height: auto;
  width: 220px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid var(--vle-color2);
  background: none;
  padding: 5px 0;
  white-space: nowrap;
  color: var(--vle-color2);
}
.UpdateAttendees > .artForm > .form > .divForm > input::placeholder {
  color: var(--vle-color2);
  opacity: 0.3;
}
.UpdateAttendees > .artForm > form > button {
  width: 150px;
  font-size: 15px;
  background-color: var(--vle-color2);
  border: 1px solid var(--vle-color2);
  color: var(--vle-color6);
}
.UpdateAttendees > .artForm > form > button:hover {
  background-color: var(--vle-color6);
  border: 1px solid var(--vle-color6);
  color: var(--vle-color3);
}
.UpdateUsers {
  background-color: var(--vle-color3);
  justify-content: space-evenly;
  height: 500px;
  width: 400px;
  padding: var(--vle-padding-l);
  gap: 10px;
}
.UpdateUsers > .artInfo {
  width: 400px;
  height: 140px;
  gap: 15px;
}
.UpdateUsers > .artInfo > h3 {
  font-size: 18px;
  color: var(--vle-color2);
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
}
.UpdateUsers > .artInfo > p {
  text-align: center;
  height: 50px;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 15px;
  color: var(--vle-color2);
}
.UpdateUsers > .artForm {
  width: 100%;
  height: 300px;
  gap: 30px;
}
.UpdateUsers > .artForm > .form {
  display: flex;
  height: 250px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.UpdateUsers > .artForm > .form > .divForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}
.UpdateUsers > .artForm > .form > .divForm > label {
  font-size: 15px;
  color: var(--vle-color2);
  justify-self: start;
}
.UpdateUsers > .artForm > .form > .divForm > input {
  height: auto;
  width: 220px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid var(--vle-color2);
  background: none;
  padding: 5px 0;
  white-space: nowrap;
  color: var(--vle-color2);
}
.UpdateUsers > .artForm > .form > .divForm > input::placeholder {
  color: var(--vle-color2);
  opacity: 0.3;
}
.UpdateUsers > .artForm > form > button {
  width: 150px;
  font-size: 15px;
  background-color: var(--vle-color2);
  border: 1px solid var(--vle-color2);
  color: var(--vle-color6);
}
.UpdateUsers > .artForm > form > button:hover {
  background-color: var(--vle-color6);
  border: 1px solid var(--vle-color6);
  color: var(--vle-color3);
}
.pRes {
  color: var(--vle-color6);
  font-size: 12px;
}

/*MediaQueries*/
@media (max-width: 1017px) {
  .perfil {
    gap: 40px;
    height: 630px;
  }
  .perfil > p {
    font-size: 15px;
  }
  .articlePerfil {
    width: 600px;
    height: 400px;
  }
  .divDatos {
    height: 400px;
    width: 300px;
    gap: 20px;
  }
  .divDatos > div {
    width: 100px;
    height: 100px;
  }
  .divDatos > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .divDatos > p {
    font-size: 11px;
  }
  .divDatos > p:first-of-type {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .UpdateAttendees {
    background-color: var(--vle-color3);
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
    padding: var(--vle-padding-l);
    gap: 10px;
  }
  .UpdateAttendees > .artInfo {
    width: 400px;
    height: 140px;
    gap: 15px;
  }
  .UpdateAttendees > .artInfo > h3 {
    font-size: 15px;
  }
  .UpdateAttendees > .artInfo > p {
    text-align: center;
    min-height: 50px;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 13px;
    color: var(--vle-color2);
  }
  .UpdateAttendees > .artForm {
    height: 180px;
    gap: 0px;
  }
  .UpdateAttendees > .artForm > .form {
    display: flex;
    height: 180px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  .UpdateAttendees > .artForm > .form > .divForm {
    height: 15px;
    gap: 20px;
  }
  .UpdateAttendees > .artForm > .form > .divForm > label {
    font-size: 13px;
  }
  .UpdateAttendees > .artForm > .form > .divForm > input {
    height: auto;
    width: 150px;
    font-size: 13px;
    border: none;
    border-bottom: 2px solid var(--vle-color2);
    background: none;
    padding: 5px 0;
    white-space: nowrap;
    color: var(--vle-color2);
  }
  .UpdateAttendees > .artForm > form > button {
    width: 120px;
    height: 30px;
    font-size: 11px;
    border: none;
  }
  .UpdateAttendees > .artForm > form > button:hover {
    background-color: var(--vle-color6);
    border: 1px solid var(--vle-color6);
    color: var(--vle-color3);
  }

  .UpdateUsers {
    background-color: var(--vle-color3);
    justify-content: space-evenly;
    height: 400px;
    width: 300px;
    padding: var(--vle-padding-l);
    gap: 10px;
  }

  .UpdateUsers > .artInfo {
    width: 400px;
    height: 140px;
    gap: 15px;
  }
  .UpdateUsers > .artInfo > h3 {
    font-size: 15px;
  }
  .UpdateUsers > .artInfo > p {
    text-align: center;
    height: auto;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 12px;
    color: var(--vle-color2);
  }

  .UpdateUsers > .artForm {
    height: 180px;
    gap: 0px;
  }

  .UpdateUsers > .artForm > .form {
    display: flex;
    height: 180px;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }
  .UpdateUsers > p {
    font-size: 11px;
  }
  .UpdateAttendees > p {
    font-size: 11px;
  }

  .UpdateUsers > .artForm > .form > .divForm {
    height: 15px;
    gap: 20px;
  }

  .UpdateUsers > .artForm > .form > .divForm > label {
    font-size: 13px;
  }

  .UpdateUsers > .artForm > .form > .divForm > input {
    height: auto;
    width: 150px;
    font-size: 13px;
    border: none;
    border-bottom: 2px solid var(--vle-color2);
    background: none;
    padding: 5px 0;
    white-space: nowrap;
    color: var(--vle-color2);
  }

  .UpdateUsers > .artForm > form > button {
    width: 120px;
    height: 30px;
    font-size: 11px;
    border: none;
  }

  .pRes {
    font-size: 11px;
  }
}

@media (max-width: 750px) {
  .perfil {
    height: auto;
  }
  .perfil > p {
    font-size: 13px;
  }
  .articlePerfil {
    width: 270px;
    height: 700px;
  }
  .divDatos {
    height: 350px;
    width: 270px;
    gap: 20px;
  }
  .divDatos > p:first-of-type {
    font-size: 11px;
  }
  .UpdateUsers {
    height: 350px;
    width: 270px;
  }
  .UpdateAttendees {
    height: 350px;
    width: 270px;
  }
  .UpdateUsers > .artInfo {
    width: 400px;
    height: 80px;
    gap: 15px;
    margin-bottom: var(--vle-margin-s);
  }
  .UpdateAttendees > .artInfo {
    width: 400px;
    height: 80px;
    gap: 15px;
    margin-bottom: var(--vle-margin-s);
  }
  .UpdateUsers > .artInfo > h3 {
    font-size: 13px;
    width: 200px;
  }
  .UpdateAttendees > .artInfo > h3 {
    font-size: 13px;
    width: 200px;
  }
  .UpdateUsers > .artInfo > p {
    min-height: auto;
    font-size: 11px;
  }
  .UpdateAttendees > .artInfo > p {
    min-height: auto;
    font-size: 11px;
  }
  .UpdateUsers > .artForm {
    height: 170px;
    gap: 0px;
  }
  .UpdateAttendees > .artForm {
    height: 170px;
    gap: 0px;
  }
  .UpdateUsers > .artForm > .form {
    height: 180px;
    width: 320px;
    gap: 0px;
  }
  .UpdateAttendees > .artForm > .form {
    height: 150px;
    width: 320px;
    gap: 0px;
  }
  .UpdateUsers > .artForm > .form > .divForm {
    height: 15px;
    gap: 20px;
  }
  .UpdateUsers > .artForm > .form > .divForm > label {
    font-size: 11px;
  }
  .UpdateUsers > .artForm > .form > .divForm > input {
    height: auto;
    width: 120px;
    font-size: 11px;
    border: none;
    border-bottom: 2px solid var(--vle-color2);
    background: none;
    padding: 5px 0;
    white-space: nowrap;
    color: var(--vle-color2);
  }
  .UpdateUsers > .artForm > form > button {
    width: 100px;
    height: 25px;
    font-size: 11px;
    border: none;
    margin-top: var(--vle-margin-s);
  }
  .UpdateAttendees > .artForm > .form > .divForm {
    height: 15px;
    gap: 20px;
  }
  .UpdateAttendees > .artForm > .form > .divForm > label {
    font-size: 11px;
  }
  .UpdateAttendees > .artForm > .form > .divForm > input {
    height: auto;
    width: 120px;
    font-size: 11px;
    border: none;
    border-bottom: 2px solid var(--vle-color2);
    background: none;
    padding: 5px 0;
    white-space: nowrap;
    color: var(--vle-color2);
  }
  .UpdateAttendees > .artForm > form > button {
    width: 100px;
    height: 25px;
    font-size: 11px;
    border: none;
    margin-top: var(--vle-margin-s);
  }
  .pRes {
    font-size: 11px;
  }
}
@media (max-width: 516px) {
  .perfil > p {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
}
