@import url('/style.css');

.spanComprobar {
  position: absolute;
  flex-direction: column;
  width: 500px;
  height: 150px;
  background-color: var(--vle-color6);
  gap: 20px;
}

.spanComprobar > div {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.spanComprobar > p {
  color: var(--vle-color3);
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;
}

.spanComprobarUs {
  position: absolute;
  flex-direction: column;
  width: 500px;
  height: 150px;
  background-color: var(--vle-color6);
  gap: 20px;
}

.spanComprobarAtt {
  position: absolute;
  flex-direction: column;
  width: 500px;
  height: 150px;
  background-color: var(--vle-color6);
  gap: 20px;
}

.spanComprobarUs,
.spanComprobarAtt > p {
  color: var(--vle-color3);
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;
}

.pUs {
  color: var(--vle-color3);
  font-size: 15px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.5;
}

.spanComprobar,
.spanComprobarAtt > div {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.spanComprobarUs > div {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

.pErrorPas {
  color: var(--vle-color6);
  font-size: 12px;
  text-align: center;
}

/*MediaQueries*/

@media (max-width: 751px) {
  .spanComprobar {
    width: 400px;
    height: 120px;
  }

  .spanComprobar > p {
    font-size: 13px;
  }

  .spanComprobar > div > button {
    font-size: 13px;
  }

  .spanComprobarUs {
    width: 400px;
    height: 120px;
  }
  .spanComprobarUs > div > button {
    font-size: 13px;
  }

  .spanComprobarAtt {
    width: 400px;
    height: 120px;
  }
  .spanComprobarAtt > div > button {
    font-size: 13px;
  }

  .spanComprobarUs,
  .spanComprobarAtt > p {
    font-size: 13px;
  }

  .pUs {
    font-size: 13px;
  }

  .pErrorPas {
    color: var(--vle-color6);
    font-size: 11px;
    text-align: center;
  }
}
@media (max-width: 465px) {
  .spanComprobar {
    width: 300px;
    height: 100px;
  }

  .spanComprobar > p {
    font-size: 11px;
  }

  .spanComprobar > div > button {
    font-size: 11px;
    width: 80px;
    height: 25px;
  }

  .spanComprobarUs {
    width: 300px;
    height: 100px;
  }
  .spanComprobarUs > div > button {
    font-size: 11px;
    width: 80px;
    height: 25px;
  }

  .spanComprobarAtt {
    width: 300px;
    height: 100px;
  }
  .spanComprobarAtt > div > button {
    font-size: 11px;
    width: 80px;
    height: 25px;
  }

  .spanComprobarUs,
  .spanComprobarAtt > p {
    font-size: 11px;
  }

  .pUs {
    font-size: 11px;
  }

  .pErrorPas {
    font-size: 11px;
    text-align: center;
  }
}
