@import url('/style.css');
.sectionEventoInfo {
  width: 100%;
  height: auto;
  background-color: var(--vle-color5);
  padding-top: var(--vle-padding-xl);
  padding-bottom: var(--vle-padding-xl);
  gap: 50px;
  flex-wrap: wrap;
}
.articleEventoInfo {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: var(--vle-padding-l);
  background-color: var(--vle-color4);
}
.articleEventoInfo > div:first-of-type {
  width: 500px;
  height: 350px;
}
.articleEventoInfo > div:first-of-type > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.articleEventoInfo > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: start;
  align-items: start;
  width: 500px;
  height: 350px;
  gap: 10px;
}
.articleEventoInfo > div:last-of-type > h3 {
  font-size: 25px;
  font-weight: 600;
  color: var(--vle-color3);
  letter-spacing: 3px;
}
.articleEventoInfo > div:last-of-type > p:first-of-type {
  font-size: 18px;
  color: var(--vle-color3);
  letter-spacing: 2px;
}
.articleEventoInfo > div:last-of-type > p:nth-of-type(2) {
  font-size: 18px;
  color: var(--vle-color3);
  letter-spacing: 2px;
}
.articleEventoInfo > div:last-of-type > p:last-of-type {
  font-size: 15px;
  color: var(--vle-color6);
  opacity: 0.8;
  letter-spacing: 2px;
  line-height: 1.5;
  margin-top: 20px;
  text-align: justify;
}
.articleEventoInfo > div:last-of-type > div {
  width: 50px;
  height: 50px;
  margin-top: var(--vle-margin-xs);
}
.articleEventoInfo > div:last-of-type > div > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.articleEventoInfo > div:last-of-type > div > img:hover {
  cursor: pointer;
  scale: 1.1;
}
.articleEventoAtt {
  width: 80%;
  height: auto;
  flex-direction: column;
  background-color: var(--vle-color4);
  padding: var(--vle-padding-l);
  gap: 20px;
}
.articleEventoAtt > h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--vle-color3);
  letter-spacing: 3px;
}
.articleEventoAtt > ul > li {
  font-size: 15px;
  font-weight: 600;
  color: var(--vle-color3);
  letter-spacing: 3px;
  margin-bottom: 10px;
  text-align: center;
}
.articleEventoAtt > ul > li:last-of-type {
  margin-bottom: 0px;
}
.articleEventoAtt > p {
  font-size: 13px;
  font-weight: 400;
  color: var(--vle-color6);
  letter-spacing: 3px;
  text-align: center;
}

/*MediaQueries*/
@media (max-width: 1189px) {
  .articleEventoInfo > div:first-of-type {
    width: 400px;
    height: 350px;
  }
  .articleEventoInfo > div:last-of-type {
    width: 400px;
    height: 350px;
    gap: 10px;
  }
  .articleEventoInfo > div:last-of-type > h3 {
    font-size: 20px;
  }
  .articleEventoInfo > div:last-of-type > p:first-of-type {
    font-size: 15px;
  }
  .articleEventoInfo > div:last-of-type > p:nth-of-type(2) {
    font-size: 15px;
  }
  .articleEventoInfo > div:last-of-type > p:last-of-type {
    font-size: 13px;
  }
  .articleEventoInfo > div:last-of-type > div {
    width: 40px;
    height: 40px;
  }
  .articleEventoAtt {
    padding: var(--vle-padding-m);
  }
  .articleEventoAtt > h4 {
    font-size: 15px;
  }
  .articleEventoAtt > ul > li {
    font-size: 13px;
  }
  .articleEventoAtt > ul > li:last-of-type {
    margin-bottom: 0px;
  }
  .articleEventoAtt > p {
    font-size: 13px;
  }
}
@media (max-width: 1123px) {
  .articleEventoInfo > div:first-of-type {
    width: 400px;
    height: 300px;
  }
  .articleEventoInfo > div:last-of-type {
    width: 370px;
    height: 350px;
    gap: 10px;
  }
  .articleEventoInfo > div:last-of-type > h3 {
    font-size: 20px;
  }
}
@media (max-width: 1099px) {
  .articleEventoInfo > div:first-of-type {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 1017px) {
  .articleEventoInfo {
    flex-direction: column;
    gap: 30px;
  }
  .articleEventoInfo > div:first-of-type {
    width: 90%;
    height: 300px;
  }
  .articleEventoInfo > div:last-of-type {
    width: 90%;
    height: auto;
    gap: 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .articleEventoInfo > div:last-of-type > h3 {
    font-size: 15px;
    text-align: center;
  }
  .articleEventoInfo > div:last-of-type > p:first-of-type {
    font-size: 13px;
  }
  .articleEventoInfo > div:last-of-type > p:nth-of-type(2) {
    font-size: 13px;
  }
  .articleEventoInfo > div:last-of-type > p:last-of-type {
    text-align: center;
    width: 100%;
  }
  .articleEventoAtt > h4 {
    font-size: 15px;
  }
  .articleEventoAtt > ul > li {
    font-size: 13px;
  }
}

/*MediaQueries*/
@media (max-width: 585px) {
  .articleEventoAtt > h4 {
    font-size: 13px;
  }
  .articleEventoAtt > ul > li {
    font-size: 10px;
  }
  .articleEventoInfo > div:last-of-type > h3 {
    font-size: 13px;
    line-height: 1.5;
  }
  .articleEventoInfo > div:last-of-type > p:first-of-type {
    font-size: 11px;
  }
  .articleEventoInfo > div:last-of-type > p:nth-of-type(2) {
    font-size: 11px;
  }
  .articleEventoInfo > div:last-of-type > p:last-of-type {
    font-size: 11px;
  }
  .articleEventoAtt > p {
    font-size: 11px;
    line-height: 1.5;
  }
}
@media (max-width: 494px) {
  .articleEventoInfo > div:first-of-type {
    height: 200px;
  }
}
@media (max-width: 397px) {
  .articleEventoAtt > h4 {
    text-align: center;
    line-height: 1.5;
  }
  .articleEventoInfo > div:last-of-type > h3 {
    text-align: center;
    line-height: 1.5;
  }
}
