@import url('/style.css');

.articleEventsVal {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  background-color: var(--vle-color1);
  padding: var(--vle-margin-l) var(--vle-margin-l);
}
.mensajeNoEventos {
  font-size: 15px;
}
.articleEventsVal > h3 {
  color: var(--vle-color6);
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.8;
}
.divEventsVal {
  width: 100%;
  height: 100%;
  margin-top: var(--vle-margin-xl);
  gap: 50px;
}
.divEventVal {
  width: 400px;
  height: auto;
  flex-direction: column;
  background-color: var(--vle-color5);
  padding: var(--vle-padding-s);
}

.divEventVal > div:first-of-type {
  width: 350px;
  height: 200px;
  margin-bottom: 20px;
  background-color: var(--vle-color6);
}
.divEventVal > div:first-of-type > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid var(--vle-color4);
}

.divEventVal > h4 {
  color: var(--vle-color6);
  font-size: 18px;
  letter-spacing: 2px;
  opacity: 0.8;
  margin-bottom: 10px;
}

.divEventVal > p {
  color: var(--vle-color6);
  font-size: 13px;
  opacity: 0.8;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.divEventVal > p:last-of-type {
  color: var(--vle-color1);
  font-size: 14px;
  text-align: justify;
  line-height: 1.5;
}
.divButtons {
  gap: 20px;
  margin-top: 10px;
}

/*MediaQueries*/
@media (max-width: 1017px) {
  .articleEventsVal > h3 {
    font-size: 15px;
  }
  .divEventVal {
    width: 300px;
    padding: var(--vle-padding-s);
  }
  .divEventVal > div:first-of-type {
    width: 280px;
    height: 150px;
    margin-bottom: 20px;
  }
  .divEventVal > h4 {
    font-size: 13px;
  }
  .divEventVal > p {
    font-size: 11px;
  }
  .divEventVal > p:last-of-type {
    font-size: 11px;
  }
  .mensajeNoEventos {
    font-size: 13px;
    margin-top: 30px;
  }
}
@media (max-width: 731px) {
  .articleEventsVal > h3 {
    font-size: 13px;
  }
  .divEventVal > h4 {
    font-size: 13px;
  }
  .divEventVal > p {
    font-size: 11px;
  }
  .divEventVal > p:last-of-type {
    font-size: 11px;
  }
  .mensajeNoEventos {
    font-size: 11px;
  }
}
@media (max-width: 546px) {
  .articleEventsVal > h3 {
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
  }
  .divEventVal > h4 {
    font-size: 12px;
  }
  .divEventVal > p {
    font-size: 11px;
  }
  .divEventVal > p:last-of-type {
    font-size: 11px;
  }

  .divEventVal {
    width: 250px;
    height: auto;
    padding: var(--vle-padding-s);
  }
  .divEventVal > div:first-of-type {
    width: 230px;
    height: 150px;
    margin-bottom: 10px;
  }
  .divEventVal > h4 {
    font-size: 12px;
  }
  .divEventVal > p {
    font-size: 11px;
  }
  .divEventVal > p:last-of-type {
    font-size: 11px;
  }
  .divButtons {
    gap: 20px;
    margin-top: 0px;
  }
  .divButtons > button {
    font-size: 11px;
  }
}
