@import url('/style.css');

.personalData {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  justify-items: end;
  align-content: center;
  align-items: center;
  background-color: var(--vle-color6);
  padding: 0px var(--vle-padding-xl);
  gap: 50px;
}
.personalData > p > span {
  color: var(--vle-color5);
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.8;
  font-weight: 600;
}
.personalData > p > span:nth-of-type(2) {
  color: var(--vle-color3);
  opacity: 1;
  text-decoration: underline;
}

/*MediaQueries*/
@media (max-width: 1017px) {
  .personalData {
    height: 50px;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }
  .personalData > p > span {
    font-size: 11px;
  }
}
@media (max-width: 554px) {
  .personalData {
    height: 60px;
  }
  .personalData > p {
    text-align: center;
    line-height: 1.5;
  }
  .personalData > p > span {
    font-size: 10px;
  }
}
@media (max-width: 549px) {
  .personalData {
    height: 60px;
  }
  .personalData > p {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2;
  }
  .personalData > p > span {
    font-size: 10px;
  }
}
