@import url('/style.css');

.sectionRegister {
  width: 100%;
  padding: var(--vle-padding-xl);
  height: 670px;
  gap: 60px;
  background-color: var(--vle-color5);
}
.registerUsers {
  background-color: var(--vle-color2);
  justify-content: space-evenly;
  height: 500px;
  width: 400px;
  padding: var(--vle-padding-l);
  gap: 30px;
  opacity: 0.9;
}
.registerUsers:hover {
  opacity: 1;
}
.registerUsers > .artInfo {
  max-width: 400px;
  height: 140px;
  gap: 15px;
}
.registerUsers > .artInfo > h3 {
  font-size: 18px;
  color: var(--vle-color3);
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
}
.registerUsers > .artInfo > p {
  text-align: center;
  min-height: 50px;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 15px;
  color: var(--vle-color3);
}
.registerUsers > .artForm {
  width: 100%;
  height: 300px;
  gap: 40px;
}
.registerUsers > .artForm > .form {
  display: flex;
  height: 250px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.registerUsers > .artForm > .form > .divForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}
.registerUsers > .artForm > .form > .divForm > label {
  font-size: 15px;
  color: var(--vle-color3);
  justify-self: start;
}
.registerUsers > .artForm > .form > .divForm > input {
  height: auto;
  width: 220px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid var(--vle-color3);
  background: none;
  padding: 5px 0;
  white-space: nowrap;
  color: var(--vle-color3);
}
.registerUsers > .artForm > .form > .divForm > input::placeholder {
  color: var(--vle-color3);
  opacity: 0.3;
}
.registerUsers > .artForm > form > button {
  width: 150px;
  font-size: 15px;
  background-color: var(--vle-color3);
  border: 1px solid var(--vle-color3);
  color: var(--vle-color6);
}
.registerUsers > .artForm > form > button:hover {
  background-color: var(--vle-color6);
  border: 1px solid var(--vle-color6);
  color: var(--vle-color3);
}
.loginAttendees > .artForm > form > button:hover {
  cursor: pointer;
  background-color: var(--vle-color5);
  border: 1px solid var(--vle-color5);
  color: var(--vle-color6);
}
.registerAttendees {
  background-color: var(--vle-color3);
  justify-content: space-evenly;
  height: 500px;
  width: 400px;
  padding: var(--vle-padding-l);
  gap: 30px;
  opacity: 0.9;
}
.registerAttendees:hover {
  opacity: 1;
}

.registerAttendees > .artInfo {
  width: 400px;
  height: 140px;
  gap: 15px;
}
.registerAttendees > .artInfo > h3 {
  font-size: 18px;
  color: var(--vle-color2);
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
}
.registerAttendees > .artInfo > p {
  text-align: center;
  height: 50px;
  letter-spacing: 2px;
  font-weight: 200;
  font-size: 15px;
  color: var(--vle-color2);
}
.registerAttendees > .artForm {
  width: 100%;
  height: 300px;
  gap: 40px;
}
.registerAttendees > .artForm > .form {
  display: flex;
  height: 250px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.registerAttendees > .artForm > .form > .divForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
}
.registerAttendees > .artForm > .form > .divForm > label {
  font-size: 15px;
  color: var(--vle-color2);
  justify-self: start;
}
.registerAttendees > .artForm > .form > .divForm > input {
  height: auto;
  width: 220px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid var(--vle-color2);
  background: none;
  padding: 5px 0;
  white-space: nowrap;
  color: var(--vle-color2);
}

.registerAttendees > .artForm > .form > .divForm > input::placeholder {
  color: var(--vle-color2);
  opacity: 0.3;
}

.registerAttendees > .artForm > form > button {
  width: 150px;
  font-size: 15px;
  background-color: var(--vle-color2);
  border: 1px solid var(--vle-color2);
  color: var(--vle-color6);
}

.registerAttendees > .artForm > form > button:hover {
  background-color: var(--vle-color6);
  border: 1px solid var(--vle-color6);
  color: var(--vle-color3);
}

.errorPRegister {
  color: var(--vle-color6);
  max-width: 400px;
  line-height: 1.5;
  text-align: center;
}

.registradoP {
  color: var(--vle-color6);
  max-width: 400px;
  line-height: 1.5;
  text-align: center;
}

/*MediaQueries*/
@media (max-width: 977px) {
  .sectionRegister {
    height: 630px;
    gap: 40px;
  }
  .registerUsers {
    height: 400px;
    width: 320px;
    padding: var(--vle-padding-m);
    gap: 0px;
  }
  .registerAttendees {
    height: 400px;
    width: 320px;
    padding: var(--vle-padding-m);
    gap: 0px;
  }
  .registerUsers > .artInfo {
    width: 300px;
    height: auto;
  }
  .registerAttendees > .artInfo {
    width: 300px;
    height: auto;
  }
  .registerUsers > .artInfo > h3 {
    font-size: 13px;
  }
  .registerAttendees > .artInfo > h3 {
    font-size: 13px;
  }
  .registerUsers > .artInfo > p {
    height: auto;
    font-size: 13px;
  }
  .registerAttendees > .artInfo > p {
    height: auto;
    font-size: 13px;
  }
  .registerUsers > .artForm {
    width: 100%;
    height: 250px;
    gap: 10px;
  }
  .registerAttendees > .artForm {
    width: 100%;
    height: 250px;
    gap: 10px;
  }
  .registerUsers > .artForm > .form {
    height: 240px;
    width: 250px;
    gap: 10px;
  }
  .registerAttendees > .artForm > .form {
    height: 220px;
    width: 250px;
    gap: 10px;
  }
  .registerUsers > .artForm > .form > .divForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
  }
  .registerAttendees > .artForm > .form > .divForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
  }
  .registerUsers > .artForm > .form > .divForm > label {
    font-size: 13px;
    color: var(--vle-color3);
    justify-self: start;
  }
  .registerAttendees > .artForm > .form > .divForm > label {
    font-size: 13px;
    justify-self: start;
  }
  .registerUsers > .artForm > .form > .divForm > input {
    height: auto;
    width: 150px;
    font-size: 11px;
    border-bottom: 1.5px solid var(--vle-color3);
  }
  .registerAttendees > .artForm > .form > .divForm > input {
    height: auto;
    width: 150px;
    font-size: 11px;
    border-bottom: 1.5px solid var(--vle-color2);
  }
  .registerUsers > .artForm > form > button {
    width: 100px;
    height: 25px;
    font-size: 11px;
    border: none;
    margin-top: var(--vle-margin-s);
  }
  .registerAttendees > .artForm > form > button {
    width: 100px;
    height: 25px;
    font-size: 11px;
    border: none;
    margin-top: var(--vle-margin-s);
  }
}
@media (max-width: 779px) {
  .sectionRegister {
    flex-direction: column;
    padding: var(--vle-padding-xl);
    height: auto;
  }
}
@media (max-width: 418px) {
  .sectionRegister {
    gap: 50px;
  }
  .registerUsers {
    height: 350px;
    width: 270px;
    padding: var(--vle-padding-s);
    gap: 0px;
  }
  .registerAttendees {
    height: 350px;
    width: 270px;
    padding: var(--vle-padding-s);
    gap: 0px;
  }
  .registerUsers > .artInfo {
    height: auto;
  }
  .registerAttendees > .artInfo {
    height: auto;
  }
  .registerUsers > .artInfo > h3 {
    font-size: 11px;
  }
  .registerAttendees > .artInfo > h3 {
    font-size: 11px;
  }
  .registerUsers > .artInfo > p {
    font-size: 10px;
    line-height: 1.5;
  }
  .registerAttendees > .artInfo > p {
    font-size: 10px;
    line-height: 1.5;
  }
  .registerUsers > .artForm {
    height: 220px;
  }
  .registerAttendees > .artForm {
    height: 210px;
  }
  .registerUsers > .artForm > .form {
    height: 200px;
    gap: 0px;
  }
  .registerAttendees > .artForm > .form {
    height: 180px;
    gap: 0px;
  }
  .registerUsers > .artForm > form > .divForm {
    height: 40px;
    width: 150px;
    gap: 0px;
  }
  .registerAttendees > .artForm > form > .divForm {
    height: 40px;
    width: 150px;
    gap: 0px;
  }
  .registerUsers > .artForm > .form > .divForm > label {
    font-size: 10px;
  }
  .registerAttendees > .artForm > .form > .divForm > label {
    font-size: 10px;
  }
  .registerUsers > .artForm > .form > .divForm > input {
    width: 150px;
    font-size: 10px;
    border-bottom: 1.5px solid var(--vle-color3);
  }
  .registerAttendees > .artForm > .form > .divForm > input {
    width: 150px;
    font-size: 10px;
    border-bottom: 1.5px solid var(--vle-color2);
  }
  .registerUsers > .artForm > form > button {
    width: 80px;
    height: 20px;
    font-size: 10px;
    margin-top: var(--vle-margin-xs);
  }
  .registerAttendees > .artForm > form > button {
    width: 80px;
    height: 20px;
    font-size: 10px;
    margin-top: var(--vle-margin-xs);
  }
}
